
@import '../../shared-styles/variables';

.parent {
  border: none;
  min-width: 225px;
  height: 50px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}


.light {
  background: $grey-medium;
  color: $grey-dark;
}

.dark {
  background: $dark;
  color: $grey-light;
}

a {


  & :hover{
    // background: red !important;
  }

  h2 {
    margin: 0;
  }
}

