
@import '../../shared-styles/variables';

.background {
  background: $grey-light;
  min-height: 300px;
  padding: 120px 0;
}

.fullscreen {
  min-height: 90vh;
  background: none;
}

.loose {
  margin-left: 10%;
  margin-right: 10%;
}

.bg-tint {
  background: $translucent-purple;
}